.mySlides{
    display: flex;
    margin-left: 440px;
    background: url(../img/Rectangle\ 11.png);
    height: 385px;
    width: 900px;
}
.fotoAndSlider{
    width: 100px;
    height: 100px;
    border: 3px solid grey;
    border-radius: 50%;
    padding: 7px;
    margin-top: 120px;
    margin-left: 25px;
}
.fotoAround{
    padding-left: 120px;
    width: 170px;
    height: 175px;
}
h5{
font-size: 25px;
text-align: center;

}
.stars{
display: flex;
flex-direction: row;
justify-content: center;
}
.fotoAroundAndText{
    display: flex;
    padding-left: 350px;
    font-size: 18px;
    color: #585858;
    line-height: 27px;
}